body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(224, 224, 224);
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


.header {
  padding: 25px 50px;
  color: white;
  background-color: rgb(91, 201, 100);

}

.header1 {
  font-size: 25px;}

.newLink{
  float: right;
}

.title {
  font-size: 25px;
  padding-top: 20px;
}

.threads {
  width: 400px;
}

.threadList {
  border: solid #7a7a7a 0.5px;
  border-radius: 3px;
  background-color: white;
  padding: 10px 5px 25px 5px;
}

.CommentList{
  background-color: white;
  padding: 5px 5px 25px 5px;
}

ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}



.container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.newComment{
float: right;
}

button{
  border: none;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 50px;
  color: rgb(255, 255, 255);
  background-color: rgb(91, 201, 100);
  transition: 0.3s;
}